<div id="<%= dom_id currency %>">
  <p>
    <strong><%= currency.name %> (<%= currency.symbol %>)
    </strong>
  </p>

  <p>
    <strong>Latest exchange rate:</strong>
    <%= currency.latest_exchange_rate ? "%.2f" % currency.latest_exchange_rate : "N/A" %>
  </p>

  <% if user_signed_in? %>
    Here you would see a button to follow this currency :)
  <% end %>

</div>
